@import 'variables.css';

body {
  & p {
    color: var(--primary-color);
    user-select: none;
  }
}

.card {
  &.featured {
    background: gold;
  }
}

body div {
  color: color(display-p3 0.64331 0.19245 0.16771);
  text-decoration: none;
  @media (--viewport-large) {
    color: blue;
  }
}

.button {
  font-size: 20px;
  @mixin button-style #28a745 pink;
}

header {
  width: 100%;
  height: 10rem;
  background-image: url(../images/drupaleasy-logo.svg);
}
